* {
  color: white;
  font-size: x-large;
}

div {
  width: 500px;
  height: 500px;
}

.box {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  margin: auto;
  width: 1500px;
}

.zone1 {
  background-color: rgb(187, 126, 69);
}
.zone2 {
  background-color: rgb(238, 24, 24);
}
.zone3 {
  background-color: rgb(40, 119, 189);
  grid-column: 2 /4;
  width: 1000px;
}
.zone4 {
  background-color: rgb(87, 42, 160);
}
.zone5 {
  background-color: rgb(40, 179, 52);
}

.zone6 {
  background-color: rgb(126, 29, 42);

  grid-row: 1 / 4;
  height: 1500px;
}

.zone1,
.zone2,
.zone3,
.zone4,
.zone5,
.zone6,
.zone7,
.zone8 {
  display: flex;
  justify-content: center;
  align-items: center;
}
